<section class="vegetables">
  <div class="container">
    <h2 class="H2">ORGANIC <br>
       <span>VEGETABLES</span> </h2>
       <p>Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>

       
       <ul>
<li>
<h3>EGGPLANT</h3>
<P>60 USD / kg</P>
</li>

<li>
  <h3>LEEK</h3>
  <p>50 USD / kg</p>
  </li>


  <li>
    <h3>MUSHROOM</h3>
    <p>40 USD / kg</p>
    </li>


    <li>
      <h3>CORN</h3>
      <p>60 USD / kg</p>
      </li>


      <li>
        <h3>SWEET POTATOS</h3>
        <p>50 USD / kg</p>
        </li>



        <li>
          <h3>CARROT</h3>
          <p>40 USD / kg</p>
          </li>



       </ul>
  </div>
</section>



